.colaborador {
    width: 280px;
    margin-bottom: 24px;
}

.colaborador .encabezado {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}